{% extends 'base.html' %}
{% load static %}


{% block title %}{{ block.super }}{% endblock %}

{% block body %}
    {# Favorited categories #}
<div class="Section">
  <div class="wrap">
    <div class="BannersHome">

        {% for category in popular_categories %}
        <a class="BannersHomeBlock" href="{% url 'catalog' %}?category={{ category.id }}">
            <div class="BannersHomeBlock-row">
              <div class="BannersHomeBlock-block">
                <strong class="BannersHomeBlock-title">{{ category }}</strong>

                <div class="BannersHomeBlock-content">
                    from&#32;<span class="BannersHomeBlock-price">${{ category.min_price }}</span>
                </div>
              </div>

              <div class="BannersHomeBlock-block">
                <div class="BannersHomeBlock-img">
                    <img src='{% static "assets/img/content/home/videoca.png" %}' alt="videoca.png"/>
                </div>
              </div>
            </div>
        </a>
        {% endfor %}


    </div>
  </div>
</div>

    {# Popular #}
<div class="Section Section_column Section_columnDesktop"  >
  <div class="wrap">
    <div class="Section-content">
      <header class="Section-header">
        <h2 class="Section-title">Popular Products</h2>
      </header>

        {# P_Cards #}
      <div class="Cards">
          {% for card in popular_list %}
            {% include 'includes/item_card.html' %}
          {% endfor %}
      </div>
    </div>
  </div>
</div>


<div class="Section Section_column Section_columnRight">
      <div class="wrap">
        {# Guaranties #}
        <div class="Section-column">
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src='{% static "assets/img/icons/advantages/shipping.svg" %}' alt="shipping.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Shipping & Returns
                </strong>
                <p class="media-text">World wide shipping
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src='{% static "assets/img/icons/advantages/moneyBack.svg" %}' alt="moneyBack.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Money Back
                </strong>
                <p class="media-text">Guaranted payments
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src='{% static "assets/img/icons/advantages/support.svg" %}' alt="support.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Support Policy
                </strong>
                <p class="media-text">Fast support team
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src='{% static "assets/img/icons/advantages/quality.svg" %}' alt="quality.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Quality Guarantee
                </strong>
                <p class="media-text">Best guaranted items
                </p>
              </div>
            </div>
          </div>
        </div>

        {# Limited #}
        <div class="Section-content">
          <div class="Slider Slider_carousel">
            <header class="Section-header Section-header_close">
              <h2 class="Section-title">Limited edition
              </h2>
              <div class="Section-control">
                <div class="Slider-navigate">
                </div>
              </div>
            </header>

            {# L_Cards #}
            <div class="Slider-box Cards">

                {% for card in limited_list %}
              <div class="Slider-item">
                <div class="Slider-content">
                  {% include 'includes/item_card.html' %}
                </div>
              </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}