{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}{{ block.super }}{% endblock %}

{% block body %}
{#    <ul class="sections">#}
{#        {% for section in registry.section_objects.values %}#}
{#            <li>#}
{#                <a href="{% if registry.section_url_namespace %}{% url registry.section_url_namespace section=section.name %}{% else %}./{{ section.name }}{% endif %}"#}
{#                >{{ section.verbose_name }}</a>#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}


    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Submit' %}" />
    </form>
{% endblock %}