{% extends 'base.html' %}
{% load static %}
{% load catalog_filters %}


{% block title %}{{ block.super }} - catalog{% endblock %}

{% block body %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Catalog Megano
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'main' %}">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Catalog</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
        <div class="Section-column">


          {# Filtering #}
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Filter
              </strong>
            </header>

            <div class="Section-columnContent">
              <form class="form" action="./?{% param_replace %}" method="get">

                {{ filter.form.non_field_errors }}

                {# Price range #}
                <div class="form-group">
                    <div class="range Section-columnRange">
                        {{ filter.form.price }}
                    </div>
                    <div class="range-price">Price:&#32;
                      <div class="rangePrice"></div>
                    </div>
                </div>

                {# Other fields #}
                {% for field in filter.form %}
                    {% if field.name != 'price' %}
                        <div class="form-group">
                            {{ field.errors }}
                            <label>{{ field.label }}
                            {{ field }}
                            </label>
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="form-group">
                  <div class="buttons">
                      <button class="btn btn_square btn_dark btn_narrow" type="submit" >Filter</button>
                  </div>
                </div>
              </form>

              <form action=".">
                  <button class="btn btn_square btn_dark btn_narrow">Clear</button>
              </form>
            </div>
          </div>


          {# Popular tags #}
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Popular tags
              </strong>
            </header>
            <div class="Section-columnContent">
              <div class="buttons">
                  {% for tag in tags %}
                      <a class="btn btn_default btn_sm" href="?{% swap_ordering tags=tag.id %}">{{ tag.name }}</a>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>


        {# Sorting #}
        <div class="Section-content">
          <div class="Sort">
            <div class="Sort-title">Сортировать по:
            </div>
            <div class="Sort-variants">

                {# List of sorting params #}
                {% for pos, name in order_variants.items %}
                    {% if ordering == pos %}
                        {% if asc == 'true' %}
                        <a class="Sort-sortBy Sort-sortBy_dec" href="?{% swap_ordering asc='false' page=0 %}">{{ name }}</a>
                        {% else %}
                        <a class="Sort-sortBy Sort-sortBy_inc" href="?{% swap_ordering asc='true' page=0 %}">{{ name }}</a>
                        {% endif %}
                    {% else %}
                        <a class="Sort-sortBy" href="?{% swap_ordering ordering=pos page=0 %}">{{ name }}</a>
                    {% endif %}
                {% endfor %}

            </div>
          </div>


          {# Cards #}
          <div class="Cards">
          {% for card in object_list %}
            {% include 'includes/item_card.html' %}
          {% endfor %}
          </div>


          {# Pagination #}
          <div class="Pagination">
            <div class="Pagination-ins">
                {# Previous #}
                {% if page_obj.has_previous %}
                <a class="Pagination-element Pagination-element_prev" href="?{% param_replace page=page_obj.previous_page_number %}">
                    <img src="{% static 'assets/img/icons/prevPagination.svg' %}" alt="prevPagination.svg"/>
                </a>
                {% endif %}

                {# List of pages #}
                {% for page in page_obj.paginator %}
                    {# range from current page conditioning #}
                    {% if page.number < page_list_end and page.number > page_list_start %}
                <a class="Pagination-element {% if page.number == page_obj.number %}Pagination-element_current{% endif %}" href="?{% param_replace page=page.number %}">
                    <span class="Pagination-text">{{ page.number }}</span>
                </a>
                    {% endif %}
                {% endfor %}

                {# Next #}
                {% if page_obj.has_next %}
                <a class="Pagination-element" href="?{% param_replace page=page_obj.next_page_number %}">
                    <img src="{% static 'assets/img/icons/nextPagination.svg' %}" alt="nextPagination.svg"/>
                </a>
                {% endif %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
